@model Student

<h2>Profile</h2>

<div>
    <h3>@Model.Name</h3>
    <p>Email: @Model.Email</p>

   
    <a href="@Url.Action("Courses", "StudentAdministration")" class="btn btn-primary">View All Courses</a>
</div>
